

@media (max-width:59em) {
    html{
        font-size: 50%
    }
    .hero{
        max-width: 85em;
        grid-template-columns:1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }
    
    .heading-primary {
        font-size: 4.4rem;
    }
    .container{
        max-width: 100rem;
    }
   .section-testimonials{
       grid-template-columns: 1fr;
   }
}
